
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #4682B4;
    font-family: 'Joan';
    
    
}


.container{
    max-width: 700px;
    background: white;
    margin: 30px auto;
    padding: 20px;
  
}

h1 {
    text-align: center;
}
